{% extends "base.html" %}
{% block title %}Mother's Kitchen{% endblock %}

{% block content %}
<section class="hero hero-photo" style="background-color: #F07075;">
    <h2>Explore Today's Menu:</h2>

    <div class="hero-actions">
        <a href="{{ url_for('menu') }}" class="btn btn-secondary">Menu</a>
    </div>
</section>

<section id="weekly-report" class="info-section">
    <h2>Weekly Report:</h2>
    <div class="hero-actions">
        <a href="{{ url_for('report') }}" class="btn btn-secondary">Report</a>
    </div>
</section>

{% endblock %}
